h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 1.5em;
}

th {
    font-family: Arial, Helvetica, sans-serif;  
    padding: 1cm;
    font-size: large;
}

table {
    margin: auto;
    margin-bottom: 2cm;
    
}

img {
    width: 100%;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}